/* CSS Boilerplate */
:root {
  --bgColor: #1e1e1e;
  --textareabg: #252526;
  --text: #d4d4d4;
  --accentColor: #007acc; /*button*/
  --navbar: #0e0e0e;
  --icons: #cac3c3e5;
  --tooltipbg: #0f0f0f;
  --defWidth: ;
  --transitions: 0.3s ease-in-out;
  --borderRadius: calc(infinity * 1px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--bgColor);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  flex-direction: column;
}
textarea:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  transition: var(--transitions);
}
i {
  font-size: 18px;
}
#navContainer {
  text-align: end;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  right: 0;
  background: var(--bgColor);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  width: 100%;
  overflow: auto;
}
textarea {
  width: 100%;
  height: 100%;
  background: var(--textareabg);
  padding: 0 20px;
  border: none;
  font-size: 20px;
  color: var(--text);
  overflow: auto;
}
button:hover {
  filter: opacity(0.7);
  transform: scale(1.05);
}
button:active {
  transform: scale(0.9);
}
.text {
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid black;
  width: 100%;
}
#editor,
#preview {
  width: calc(100% / 2);
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
  background: var(--text);
}
#preview p {
  text-align: center;
  height: 50px;
  border-bottom: 2px solid black;
}
#preview {
  border: 2px solid black;
  border-top: none;
}
.invisible {
  display: none;
}
.show {
  display: block;
}
.notification {
  position: fixed;
  bottom: 10px;
  right: 0;
  transform: translateX(-10%);
  background: var(--tooltipbg);
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 100px;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}
@media (max-width: 767px) {
  #responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bgColor);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    z-index: 2000;
  }
  h1,
  .container,
  #navContainer {
    display: none;
  }
}
